
#imagen{
    width: 50%;
}

.col-sm-3{
    background-color: #253238;
    height: 100%;

}
.navbar-collapse collapse{
    background-color: #253238;

}
#top-nav{
     background-color: #253238;
}